.file-info {
  padding: 15px;
  h5 {
    margin: 1.5rem 0 .5rem;
  }
  p,
  pre {
    margin: .5rem 0;
  }
  pre {
    max-width: 100%;
    padding: .5rem;
    font-family: Consolas, "Courier New", monospace;
    font-size: 1rem;
    background-color: #fff;
    overflow-x: scroll;
  }
}